
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .play-button {
    animation: breathing 2s infinite linear, fadeIn 0.5s linear;
    width: 20vw;
  }
  
  .retry-button {
    width: 15vw;
    filter: drop-shadow(0 0 10px gray);
    transition: filter 0.3s linear, opacity 0.3s linear;
    animation: breathing 2s infinite linear, fadeIn 3s ease-in;
    z-index: 100;
  }

  .retry-button:hover {
    filter: drop-shadow( 0 0 40px white);
    opacity: 0.7;
  }

  .start-button{
    transition: filter 0.3s linear;
    animation: breathing 2s infinite linear, fadeIn 1s linear;
  }

  .start-button:hover {
    filter: drop-shadow(0 0 5px red);
  }

  img.button {
    -webkit-user-drag: none;
    user-select: none;
  }

  img.button:hover {
    cursor: pointer;
  }

  .breathing {
    animation: breathing 2s infinite linear, fadeIn 1s linear;
  }
 
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
  
  @keyframes breathing {
    0% {
      transform: scale(0.9);
    }
  
    25% {
      transform: scale(0.95);
    }
  
    60% {
      transform: scale(1);
    }

    100% {
      transform: scale(0.9);
    }
  }
  