/* style.css */

div.home::before {    
  content: "";
  background-image: url('/images/start-bg.png');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.6;
  animation: fade-in 2s linear;
}

@keyframes fade-in {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 0.6;
  }
}