

.play-container {
    -webkit-user-drag: none;
    user-select: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}

.word-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 13vw;
    height: 5vw;
    z-index: 100;
}

.word-container img {
    animation: breathing 0.1s ease-in, word-pop 2s linear;
    opacity: 0;
}

div.points {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    max-width: 15vw;
    height: auto;

    font-family: "Cascadia Mono";
    font-size: 10vh;

    color: white;
    filter: drop-shadow(0 0 2vh black);
}

span.play-bg {
    background-image: url("/images/play-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    width: 100vw;
    height: 47vw;
}

.machine {
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.columns-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

span.machine-front {
    width: 100%;
    height: 100%;
    outline: 0.7vw solid RGB(43, 43, 43);
    position: absolute;
    filter: drop-shadow(0 20px 20px white);
}       

.slot {
    position: relative;
    object-fit: cover;
    overflow: hidden;
    height: 100%;
    padding-top: 1%;
    background-image: url("/images/column-bg.png");
    background-repeat: no-repeat;
    background-size: 120% 110%; 
    background-position: center;
}



.slot-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    transition: transform 5s linear !important;
}

.slot-container.started{
    animation: scrolling infinite linear;
}

.slot-container.started:hover {
    cursor: pointer;
}

.slot-container.stopped {
    animation: none;
}

.slot-container.stopped:hover {
    cursor: default;
}

.slot-container img, .word-container img {
    -webkit-user-drag: none;
    user-select: none;
    width: 100%;
    /* Make the image's width match the width of the container */
    height: auto;
    /* Let the height adjust based on the image's aspect ratio */
}

.slot + .slot {
    margin-left: 0.5vw;
}

.play-container .retry-container {
    position: absolute;
    top: 70%;
    width: 15vw;
    height: 5vw;
}

@keyframes scrolling {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50%);
    }

}

@keyframes retry-shine {
    0% {
        
    }
}

@keyframes word-pop {
    0% {
        filter: drop-shadow(0 0 100px black);
        opacity: 0;
    }

    10% {
        filter: drop-shadow(0 0 7px #FF0000);
        opacity: 1;
    }
    
    30% {
        filter: drop-shadow(0 0 7px yellow);
    }
    
    50% {
        filter: drop-shadow(0 0 7px lightskyblue);
    }
    
    70% {
        filter: drop-shadow(0 0 7px fuchsia);
    }

    100% {
        filter: drop-shadow(0 0 100px black);
    }
}
