

.play-container {
    -webkit-user-drag: none;
    user-select: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}

.word-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 13vw;
    height: 5vw;
    z-index: 100;
}

.word-container img {
    animation: breathing 0.1s ease-in, word-pop 2s linear;
    opacity: 0;
}

div.points {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    max-width: 15vw;
    height: auto;

    font-family: "Cascadia Mono";
    font-size: 10vh;

    color: white;
    filter: drop-shadow(0 0 2vh black);
}

span.play-bg {
    background-image: url("/images/play-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    width: 100vw;
    height: 47vw;
}
