.machine {
    background-image: url("images/letter-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 17vw;
    height: 16vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

span.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("images/machine-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.slot {
    position: relative;
    object-fit: cover;
    overflow: hidden;
    width: 30%; 
    height: 93.75%;
}

.slot-container {
    flex-direction: column; 
}

.slot-container.started{
    animation: scrolling infinite linear;
}

.slot-container.stopped {
    animation: none;
    
    animation-play-state: paused;
}

.slot-container img {
    -webkit-user-drag: none;
    max-width: 100%;
    /* Make the image's width match the width of the container */
    height: auto;
    /* Let the height adjust based on the image's aspect ratio */
}

.slot + .slot {
    margin-left: 3%;
}

@keyframes scrolling {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-78.58%);
    }

}

