.machine {
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.columns-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

span.machine-front {
    width: 100%;
    height: 100%;
    outline: 0.7vw solid RGB(43, 43, 43);
    position: absolute;
    filter: drop-shadow(0 20px 20px white);
}

.slot-column {
    position: relative;
    object-fit: cover;
    overflow: hidden;
    height: 100%;
    width: 100%;
    padding-top: 1%;
    background-image: url("/images/column-bg.png");
    background-repeat: no-repeat;
    background-size: 120% 110%;
    background-position: center;

}


.slot-column+.slot-column {
    margin-left: 0.5vw;
}

.play-container .retry-container {
    position: absolute;
    top: 70%;
    width: 15vw;
    height: 5vw;
}

@keyframes scrolling {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50%);
    }

}


@keyframes word-pop {
    0% {
        filter: drop-shadow(0 0 100px black);
        opacity: 0;
    }

    10% {
        filter: drop-shadow(0 0 7px #FF0000);
        opacity: 1;
    }

    30% {
        filter: drop-shadow(0 0 7px yellow);
    }

    50% {
        filter: drop-shadow(0 0 7px lightskyblue);
    }

    70% {
        filter: drop-shadow(0 0 7px fuchsia);
    }

    100% {
        filter: drop-shadow(0 0 2vh black);
    }
}
